.friend-list-container {
  margin-top: 50px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.friend-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: center; 
  width: 100%;
}
